
.Newsletter{
  background: rgb(210, 140, 193);
  background: linear-gradient(180deg, rgba(172,17,133,1) 0%, rgba(162,28,130,1) 1%, rgba(114,122,124,0.2861519607843137) 100%);
}
.button{
  background-color:rgb(28, 17, 17);
}